################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Tools/ExNameChanger/obj
/Tools/ExNameChanger/.vs/ExNameChanger/v16
/Tools/ExNameChanger/bin
/Tools/MonitorApp/bin
/Tools/MonitorApp/obj
/Tools/.vs/ExNameChanger/v16
/Tools/.vs/Apps/v16
/Tools/ThriftServiceApp/obj
/Tools/ThriftServiceApp/bin
/Tools/packages
/Tools/MonitorApp/bin
/Tools/NLogApp/bin
/Tools/NLogApp/obj
/Tools/AppDomainTestApp/bin
/Tools/AppDomainTestApp/obj
/Tools/ConsoleAppByCode/bin
/Tools/ConsoleAppByCode/obj
/Tools/NLogApp/obj/Release
/Tools/ThriftServiceApp/obj
*obj
*bin
/NodeJs/README.pdf
/Tools/.vs/Apps
/Tools/SignalRChat
/Tools/ContosoUniversity
