<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile=".\logs\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <!--<target name="global" xsi:type="BufferingWrapper"
    bufferSize="缓存次数"
    flushTimeout="缓存超时时间"
    overflowAction="结束动作">
      <target name="globals" xsi:type="File"
          maxArchiveFiles="最大“散”文件数量"
          archiveFileName="${basedir}/archives/{#}.log"  # 代表文字数量。例：xxx.#.log
          archiveNumbering="DateAndSequence"
          archiveEvery="Tuesday"
          archiveDateFormat="yyyyMMdd"
          encoding="utf-8"
          fileName="${basedir}/logs/${level}.log"
          concurrentWrites="false"
          keepFileOpen="false" />
    </target>-->

    <target name="global" xsi:type="BufferingWrapper"
    bufferSize="4"
    flushTimeout="5000"
    overflowAction="Flush">
      <target name="globals" xsi:type="File"
          maxArchiveFiles="20"
          archiveFileName="${basedir}/archives/{#}.log"
          archiveNumbering="DateAndSequence"
          archiveEvery="Tuesday"
          archiveDateFormat="yyyyMMdd"
          encoding="utf-8"
          fileName="${basedir}/logs/${level}.log"
          concurrentWrites="false"
          keepFileOpen="false" />
    </target>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}">
      <highlight-row condition="level >= LogLevel.Error and contains(message,'serious')"
                     foregroundColor="White"
                     backgroundColor="Red" />
      <highlight-row condition="level >=LogLevel.Error"
                     foregroundColor="Red"
                     backgroundColor="White" />
      <highlight-row condition="starts-with(logger,'Example')"
                     foregroundColor="Yellow"
                     backgroundColor="DarkBlue" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="命名空间.类名(类中需要有NLog.Logger)" minlevel="Debug" writeTo="f" />
    -->
    <logger name="NLogApp.Globals" writeTo="global" />
    <logger name="NLogApp.Tasks" writeTo="console" />
    <logger name="Examples.ColorConsole" writeTo="console" />
  </rules>
</nlog>
